<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>PRODUCTOS DEL CAMPO</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-form-field appearance="standard" class="ml-2 w-50">
  <mat-label>Buscar</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Buscar Producto"
    #input
  />
</mat-form-field>
<div class="mat-elevation-z8 example-container">
  <div class="row">
    <div *ngFor="let img of listaimagen" class="column w-25 text-center">
      <img
        src="../../assets/principal/{{ img.imgicon }}.jpg"
        alt="Img"
        style="width: 30%"
        class="m-3"
        (click)="openDialog(img.id)"
      />
      <p class="text-center">
        {{ img.nombre }}
      </p>
    </div>
  </div>
</div>
<!-- <a routerLink="home" class="btn btn-primary mt-3 ml-2">Regresar</a> -->
